* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: #2B2C47;
    position: fixed;
    top: 0;
    z-index: 10;
    opacity: .8;
}

.kotak-header {
    padding: 10px 10px;
    color: white;
    margin: 0 auto;
    text-align: center;
}

.kotak-header a {
    color: white;
}

.kotak-header a:hover {
    color: #2B2C47;
}

.kotak-header li {
    display: inline-block;
    padding: 1vw .8vw;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 1.5vw;
}

.kotak-header li:hover {
    background-color: white;
    color: #2B2C47;
    cursor: pointer;
    transition: .5s;
}

.clear {
    clear: both;
}

/* KONTEN */

.konten {
    position: absolute;
    top: 51px;
    left: 15px;
    right: 15px;
    margin-bottom: 2vw;
}

.konten-kiri {
    width: 40%;
    float: left;
    margin-top: 4vw;
}

.konten-kiri img {
    width: 100%;
}

.parent-konten-kiri {
    margin-top: 3vw;
    padding-bottom: .5em;
    background-color: #292F49;
    border-radius: 10px;
    box-shadow: #292F49 0 0 15px;
}

.pembatas {
    width: 80%;
    margin: 0 auto;
}

.konten-kiri h1 {
    text-align: center;
    font-size: 4vw;
    padding: 6vw 4vw 4vw 4vw;
    text-shadow: #3CB9EA 0 0 10px;
}

.biodata,
.kontak,
.hobi {
    margin: 0 2vw 2vw 2vw;
    color: white;
}

.biodata a {
    color: white;
}

.biodata a:hover {
    color: #3CB9EA;
    text-shadow: #3CB9EA 0 0 10px;

}

.biodata td {
    font-size: 2vw;
    padding: .5vw;
}

.kontak li {
    display: inline-block;
    margin: .5vw;
}

.kontak {
    text-align: center;
}

.kontak a {
    color: white;
    text-shadow: #3CB9EA 0 0 10px;

}

.fa-whatsapp,
.fa-instagram,
.fa-telegram-plane,
.fa-line,
.fa-envelope {
    font-size: 3vw;
}

.far:hover,
.fab:hover {
    color: #3CB9EA;
    transition: .5s;
    transform: translate(0, -1vw);
}

.konten-kiri h2 {
    font-size: 2vw;
    text-align: center;
}

.hobi img {
    width: 20vw;
    height: 20vw;
    padding-bottom: 1.5vw;
}


.kotak-hobi {
    text-align: center;
    padding: 3vw 5vw;
    margin: 0 0 3vw 0;
    border: 2px solid white;
    text-shadow: #3CB9EA 0 0 10px;
    box-shadow: white 0 0 10px;
}

.kotak-hobi:hover {
    transition: .5s;
    background-color: white;
    color: #292F49;
    text-shadow: none;
}

.hobi-wrap {
    margin-bottom: 10px;
    overflow: auto;
    overflow-y: hidden;
    flex-direction: row;
    display: flex;
}

.konten-kanan {
    width: 60%;
    float: right;
    margin-top: 4vw;
    padding: 3vw 3vw 3vw 4vw;
}

.kotak-konten-kanan {
    border-radius: 10px;
    box-shadow: #292F49 0 0 15px;
    padding: 3vw;
}

.kotak-konten-kanan h1 {
    padding: 5vw 0 1vw 0;
    font-size: 4vw;
    color: #05a6e3;
}

.kotak-konten-kanan hr {
    border: 1px solid #292F49;
}

.profil p {
    font-size: 1.5vw;
    padding: 2vw 1vw;
    text-align: justify;
}

.sekolah {
    width: 70%;
    border-radius: 10px;
    margin: 3vw auto;
    opacity: 1;
    border: solid 1px #292F49;
    border-radius: 10px;
}

.sekolah:hover {
    opacity: 1;
    transition: .5s;
    box-shadow: #292F49 0 0 20px;
}

.identitas-sekolah {
    background-color: #292F49;
    border-radius: 10px 10px 0 0;
    padding: 1vw .5vw;
}

.sekolah h1 {
    color: white;
    font-size: 1.5vw;
    text-align: center;
    padding: 0;
}

.sekolah h2 {
    color: white;
    font-size: 1vw;
    text-align: center;
    padding: .5vw 0 0 0;
}

.logo-sekolah img {
    width: 100%;
    padding: 2vw;

}

/* ==========TIMELINE PENGALAMAN==========  */
.timeline-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.timelin-main a {
    color: white;
}

.timelin-main a:hover {
    text-shadow: #05a6e3 0 0 10px;
}

.timelin-main h2 {
    font-size: 2vw;
}

.timelin-main p {
    font-size: .8vw;
}

.timeline-wrapper {
    margin-top: 2vw;
}

/*TIMELINE STARTS*/
.timeline-wrapper,
.timelin-main,
.timelin-main li {
    position: relative;
}

.timelin-main {
    padding: 60px 0;
}

.timeline-wrapper:before,
.timeline-wrapper:after {
    z-index: 4;
}

/*main top circle*/
.timeline-wrapper:before {
    top: 0;
}

/*main bottom circle*/
.timeline-wrapper:after {
    bottom: 0;
}

/*main vertical line*/
.timelin-main:before {
    top: 0;
    bottom: 0;
    width: 5px;
    z-index: 3;
}

/*news post - left right left right*/
.timelin-main li>div {
    width: 35%;
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px solid #292F49;
    background-color: #292F49;
    position: relative;
    z-index: 9;
    box-shadow: 0px 0px 10px 0px #292F49;
    color: white;
}

/*left*/
.timelin-main li:nth-child(odd)>div {
    float: left;
}

/*right*/
.timelin-main li:nth-child(even)>div {
    float: right;
}

.timelin-main li:nth-child(even) {
    margin-top: 100px;
}

/*clearing float*/
.timelin-main li:after {
    content: '';
    display: block;
    clear: both;
}

/*left news line*/
.timelin-main li:nth-child(odd)>div:after {
    left: 100%;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

/*right news line*/
.timelin-main li:nth-child(even)>div:after {
    right: 100%;
    -webkit-transform-origin: right center;
    transform-origin: right center;
}

/*horizontal line of news elements - depending on the li div width*/
.timelin-main li>div:after {
    width: 44.5%;
    height: 5px;
}

/*color of lines and circles - combined */
.timeline-wrapper:before,
.timeline-wrapper:after,
.timelin-main:before,
.timelin-main li:before,
.timelin-main li>div:after,
.timelin-main li>div:before {
    content: '';
    position: absolute;
    background-image: -webkit-repeating-linear-gradient(315deg, #292F49,
            #1abc9c 25%,
            #292F49 25%,
            #1abc9c 50%);
    background-image: repeating-linear-gradient(135deg, #292F49,
            #1abc9c 25%,
            #292F49 25%,
            #1abc9c 50%);
    background-size: 12px 12px;
}

/*circle style*/
.timeline-wrapper:before,
.timeline-wrapper:after,
.timelin-main li:before,
.timelin-main li>div:before {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #3CB9EA;
    box-shadow: 0px 0px 0px 2px #3CB9EA;
    background: #000;
}

/*make sure the main line and main circles remain horizontally centered*/
.timeline-wrapper:before,
.timeline-wrapper:after,
.timelin-main:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*make sure the other lines and other circles remain vertically centered*/
.timelin-main li>div:after,
.timelin-main li>div:before {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*circles on the main line*/
.timelin-main li:before {
    top: 50%;
    left: 50%;
    z-index: 10;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*     background-color: red; // check which one */
}

.timelin-main li:nth-child(odd):before {
    margin-top: 23px;
}

.timelin-main li:nth-child(even):before {
    margin-top: -24px;
}

/*rotate the horizontal line*/
.timelin-main li>div:after {
    -webkit-transform: translateY(-50%) rotate(10deg);
    transform: translateY(-50%) rotate(10deg);
}

/*circle new element*/
.timelin-main li>div:before {
    right: 0;
    z-index: 3;
}

/*left news circle*/
.timelin-main li:nth-child(odd)>div:before {
    right: -7px;
}

/*right news circl*/
.timelin-main li:nth-child(even)>div:before {
    left: -7px;
}

@media screen and (max-width: 767px) {

    .timelin-main {
        padding: 75px 0;
    }

    .timelin-main li>div {
        width: 100%;
        padding: 40px 10px;
        text-align: center;
        box-shadow: none;
    }

    .timelin-main li:before {
        top: 0;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .timelin-main li:nth-child(odd):before,
    .timelin-main li:nth-child(even):before {
        margin-top: -7px;
    }

    .timelin-main li:nth-child(odd)>div:before,
    .timelin-main li:nth-child(even)>div:before {
        bottom: -8px;
        left: 50%;
        top: auto;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

    }

    .timelin-main li:nth-child(even)>div:before {}

    .timelin-main li>div:after {
        display: none;
    }

    .timelin-main li {
        margin: 65px 0;
    }

    .timelin-main li:nth-child(even) {
        margin-top: 0;
    }

    .timelin-main li:first-child {
        margin-top: 0;
    }

    .timelin-main li:last-child {
        margin-bottom: 0;
    }
}

/* Animation */
.timeline-wrapper:before,
.timeline-wrapper:after,
.timelin-main li:before,
.timelin-main li>div:before {
    -webkit-animation: scale 2s cubic-bezier(1, -0.25, 0.05, 1.67) infinite;
    animation: scale 2s cubic-bezier(1, -0.25, 0.05, 1.67) infinite;
}

@-webkit-keyframes scale {

    0% {
        box-shadow: 0px 0px 0px 2px #3CB9EA;
    }

    25% {
        box-shadow: 0px 0px 0px 3px #3CB9EA;
    }

    50% {
        box-shadow: 0px 0px 0px 2px #3CB9EA;
    }

    75% {
        box-shadow: 0px 0px 0px 3px #3CB9EA;
    }

    100% {
        box-shadow: 0px 0px 0px 2px #3CB9EA;
    }

}

@keyframes scale {

    0% {
        box-shadow: 0px 0px 0px 2px #3CB9EA;
    }

    25% {
        box-shadow: 0px 0px 0px 3px #3CB9EA;
    }

    50% {
        box-shadow: 0px 0px 0px 2px #3CB9EA;
    }

    75% {
        box-shadow: 0px 0px 0px 3px #3CB9EA;
    }

    100% {
        box-shadow: 0px 0px 0px 2px #3CB9EA;
    }

}

/* ==========TIMELINE PENGALAMAN==========  */


.kemampuan h3 {
    margin-top: 2vw;
    font-size: 2vw;
}

.kotak-skill {
    width: 100%;
    background-color: #ddd;
    margin: 1vw 0;
    box-shadow: #292F49 3px 3px 5px;
}

.skill {
    text-align: right;
    padding: .8vw 1.5vw .8vw 0;
    color: white;
}

.microsoft-office {
    width: 90%;
    background-color: #e74c3c;
}

.cisco-mikrotik {
    width: 80%;
    background-color: #f1c40f;
}

.linux {
    width: 80%;
    background-color: #2ecc71;
}

.html-css {
    width: 90%;
    background-color: #3498db;
}

.php {
    width: 50%;
    background-color: #9b59b6;
}